@import "mixins/mixins";
@import "common/var";

.el-collapse {
  border-top: 1px solid #ebeef5;
}
.el-collapse-item {
  &_header {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #ebeef5;
    cursor: pointer;
    transition: border-bottom .3s ease-in-out;
    outline: none;

    &.focusing:focus:not(:hover){
      color: #409eff;
    }
  }
  &_wrap {
    line-height: 1.7;
    border-bottom: 1px solid #ebeef5;
  }
  &_content {
    padding: 0 0 20px 0;
  }

  &.is-active .el-collapse_header{
    border-bottom: none;
  }
}